[submodule "Frontend"]
	path = Frontend
	url = https://github.com/Resource-Predicters/Front_End
[submodule "Backend"]
	path = Backend
	url = https://github.com/Resource-Predicters/Back_End
[submodule "Data"]
	path = Data
	url = https://github.com/Resource-Predicters/Data
